{% extends "coreTemplate/base_left_context_menu.html" %}

{% load model_tag %}

{% block container %}
{% if object_list %}
<section class="widget shadow-01 mb-4" id="widget-01">
	<div class="widget-block">
	<header>
	    <h3>{{ _("Article") }}</h3>
	</header>
<table id=tableSpam class="table table-bordered table-striped table-sm">
<thead>
	<tr><th>{% field_name object_list.first.reference_set.first "PN"%}</th><th>{% field_name object_list.first "Name"%}</th><th>{% field_name object_list.first "StockQt" %}</th><th>{% field_name object_list.first "Next_needed" %} </th></tr>
</thead>
    {% for object in object_list %}
    <tr><td><a href="{% url 'stock:detailPiece' object.pk %}" >{{ object.reference_set.first.PN }}</a></td><td>{{ object.Name }}</td><td>{{ object.StockQt }}</td><td>{{ object.Next_needed }}</td></tr>
    {% endfor %}

</table>
</div>
</section>
    
{% else %}
    <p>{{ _("No Article referanced") }}</p>
{% endif %}
{% endblock %}
