{% extends "coreTemplate/base_left_context_menu.html" %}

{% load sitetree %}

{% block container %}

<form method="post" action="">
{% csrf_token %}

<section class="widget shadow-01 mb-4" id="widget-01">
	<div class="widget-block">
		<header>
	   	 	<h3>{{ _("Reference") }}</h3>
		</header>
		<div class="widget-content pt-3">
			{% include 'coreTemplate/bs4InlineFormSet.html' with formset=Referances view=True only %}	
		</div>
	</div>
</section>


<section class="widget shadow-01 mb-4" id="widget-01">
	<div class="widget-block">
	<header>
	    <h3>{{ _("Piece") }}</h3>
	</header>
	<div class="widget-content pt-3">
  				{% include 'coreTemplate/bs4InlineForm.html' with form=form view=True %}
	</div>
	</div>
</section>

<section class="widget shadow-01 mb-4" id="widget-01">
	<div class="widget-block">
		<header>
	   	 	<h3>{{ _("Output Stock") }}</h3>
		</header>
		<div class="widget-content pt-3">
  			{% include 'coreTemplate/bs4InlineFormSet.html' with formset=OutputStocks view=True only %}	
		</div>
	</div>
</section>

<section class="widget shadow-01 mb-4" id="widget-01">
	<div class="widget-block">
		<header>
	   	 	<h3>{{ _("Supliers") }}</h3>
		</header>
		<div class="widget-content pt-3">
  			{% include 'coreTemplate/bs4InlineFormSet.html' with formset=Supliers add_btn="add" only %}	
		</div>
	<footer>
		<button type="submit" class="btn btn-primary">{{ _("Valid") }}</button>
		<a href="{% url 'stock:PieceView' piece.pk %}" >
      		<button type="button" class="btn btn-danger">{{ _("Cancel") }} </button>
   		</a>  
	</footer>
	</div>
</section>

</form>


{% endblock %}
