{% load widget_tweaks %}
{% load formset_tags %}

<div data-formset-form>
	{% for hidden_field in form.hidden_fields %}
	  {{ hidden_field }}
	{% endfor %}
	
	{% if form.non_field_errors %}
	  <div class="alert alert-danger" role="alert">
	    {% for error in form.non_field_errors %}
	      {{ error }}
	    {% endfor %}
	  </div>
	{% endif %}
	<div class="row container-fluid"">
	{% for field in form.visible_fields %}
		{% if "-DELETE" in field.id_for_label  %}
			{% render_field field style+="display: none" %}
		{% else %}
    		<label for="{{field.id_for_label}}" class="{{ label_class}}" data-toggle="tooltip" title="{{ field.help_text }}" >{{ field.label }}:</label>
			<div class="{{input_class}}" data-toggle="tooltip" title="{{ field.help_text }}">
		
		    {% if form.is_bound %}
		      {% if field.errors %}
		      	<div class="input-group">
		        {% render_field field class+="form-control is-invalid" %}
            	<div class="input-group-append">
                	<button type="button" class="btn btn-danger" data-formset-delete-button >-</button>
           		</div>
            	</div>
		        {% for error in field.errors %}
		          <div class="invalid-feedback">
		            {{ error }}
		          </div>
		        {% endfor %}
		      {% else %}
		      	<div class="input-group">
		        {% render_field field class+="form-control is-valid" %}
            	<div class="input-group-append">
                	<button type="button" class="btn btn-danger" data-formset-delete-button >-</button>
           		</div>
            	</div>
		      {% endif %}
		    {% else %}
		      	<div class="input-group">
		      	{% if view is True %}
		      		{% render_field field readonly="" class="form-control-plaintext" %}
           		{% else %}
		      		{% render_field field class+="form-control" %}
            		<div class="input-group-append">
                		<button type="button" class="btn btn-danger" data-formset-delete-button >-</button>
           			</div>
           		{% endif %}
            	</div>
		    {% endif %}

			</div>
		{% endif %}
	{% endfor %}
	</div>
</div>